<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
<form action="">
    <label for="first-name">First name</label>
    <input type="text" id="first-name" required>
    <label for="last-name">Last name</label>
    <input type="text" id="last-name" required>
    <label for="email">Email</label>
    <input type="text" id="email" required>
    <label for="phone-number">Phone number</label>
    <input type="text" id="phone-number">
    <label for="street-address">Street address</label>
    <input type="text" id="street-address" required>
    <label for="zip-code">Zip code</label>
    <input type="text" id="zip-code" required>
    <label for="city">City</label>
    <input type="text" id="city" required>
    <label for="comments">Comments</label>
    <textarea id="comments">Comments</textarea>
    <button id="submit">Submit</button>
    <div id="validation"></div>
</form>
<script src="../script/checkout.js"></script>
</body>
</html>